RR/.gradle
RR/.idea
RR/build
RR/gradle
RR/app/proguard-rules.pro
RR/app/src/androidTest
RR/app/src/test
RR/app/src/main/gen

# Android Studio project files
.idea/
modules.xml
workspace.xml
*.iml
out/
.gradle
build/